$primary-color: #0097A7;
$light-primary-color: #00BCD4;
$very-light-primary-color: #B2EBF2;
$light-background: #E6F4F5;
$accent: #ff4081;
$green: #388E3C;
$red: #D32F2F;

$z-1-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

$topbar-height: 33px;
