$primary-color: #3d8bd5;
$light-primary-color: #66a2de;
$very-light-primary-color: #a6daff;
$light-background: #E6F4F5;
$accent: #ff4081;
$light-text-colour: rgb(117, 117, 117);
$green: #2ca02c;
$red: #d62728;

$z-1-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
$z-2-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
$z-3-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
$z-4-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
$z-5-shadow: 0 19px 60px rgba(0, 0, 0, 0.30), 0 15px 20px rgba(0, 0, 0, 0.22);

$z-1-shadow-inset: inset 0 1px 6px rgba(0, 0, 0, 0.12), inset 0 1px 4px rgba(0, 0, 0, 0.24);
$z-2-shadow-inset: inset 0 3px 10px rgba(0, 0, 0, 0.16), inset 0 3px 10px rgba(0, 0, 0, 0.23);
$z-3-shadow-inset: inset 0 10px 30px rgba(0, 0, 0, 0.19), inset 0 6px 10px rgba(0, 0, 0, 0.23);
$z-4-shadow-inset: inset 0 14px 45px rgba(0, 0, 0, 0.25), inset 0 10px 18px rgba(0, 0, 0, 0.22);
$z-5-shadow-inset: inset 0 19px 60px rgba(0, 0, 0, 0.30), inset 0 15px 20px rgba(0, 0, 0, 0.22);

$tab-height: 44px;
$tab-padding-top: 3px;
$tab-border: 4px;
$topbar-height: 33px;
$card-max-width: 650px;
