$primary-color: #3d8bd5;
$light-primary-color: #44aafb;
$very-light-primary-color: #a6daff;
$light-background: #E6F4F5;
$accent: #ff4081;
$green: #388E3C;
$red: #D32F2F;

$z-1-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

$topbar-height: 33px;
