.blog-list-entry {
  display: flex;
  .blog-list-entry-details {
    display: flex;
    flex: auto;
    flex-direction: column;
    .blog-list-entry-content {
      flex: 1 0 auto;
    }
    .blog-list-entry-headline {
      font-size: 18px;

    }
  }
  .blog-list-entry-media {
    min-height: 111px;
    min-width: 111px;
    max-height: 200px;
    width: 131px;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
  }
}

.blog-article-media {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.page-container {
  position: relative;
  min-height: 100%;
}

.page-content {
  height: 100%;
  position: relative;
  z-index: 100;
  background-color: #f7f7f7;
}

.leader {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

div.paragraph {
  text-align: justify;
}

.blog-figure {
  max-width: 800px;
  padding: 25px;
  img {
    width: 100%;
  }
}

.blog-article {
  margin: 0 auto;
  padding: 25px;
  max-width: 800px;
  text-align: justify;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.46429em;
  h1 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.35417em;
    text-align: left;
  }
  h3 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    color: #78909c;
  }
}

.blog-background {
  background: #f7f7f7;
}

.blog-content {
  p:first-child:first-letter {
    color: #78909c;
    float: left;
    font-family: serif;
    font-size: 4.5rem;
    line-height: 3.5rem;
    padding-top: 2px;
    padding-right: 8px;
    padding-left: 0px;
  }
}

//@media (min-width: 800px) {
//  .blog-article-media {
//    padding: 44px 20px 20px;
//    float: right;
//    max-height: unset;
//    max-width: 500px;
//    width: auto;
//  }
//}
