@import "./variables";
.genome-browser {
  height: calc(100% - #{$topbar-height});
  width: 100%;
  .controls {
    background: red;
    height: $topbar-height;
  }
  .main-area {
    position: relative;
    height: calc(100% - #{$topbar-height});
    .background {
      z-index: 1;
      position: absolute;
      top:0;
      left:0;
    }
    .tracks {
      position: relative;
      z-index: 2;
      .fixed {
      }
      .scrolling {
        //background: blue;
      }
      .channel-side {
        padding: 12px;
        height: 100%;
      }
      .channel-canvas {
        overflow: hidden;
      }
    }
  }
}


svg.scale {
  background: white;
  .tick {
    text {
      text-anchor: middle;
      alignment-baseline: text-before-edge;
    }
    line {
      stroke: darkgrey;
      stroke-width: 1px;
    }
  }
  .major  {
    line {
      stroke-width: 2px;
    }
  }
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  transform-origin: top left;
}

