@import "./variables";

.genome-browser {
  height: calc(100% - 41px);
  width: 100%;
  .control-bar {
    //height: 40px;
    line-height: 40px;
    .loading-canvas {
      //opacity: 0;
      transition: opacity .5s ease-in-out;
    }
    .loading-canvas.loading {
      opacity: 1;
    }
    .controls {
      span {
        select {
          line-height: normal;
          padding-right: 15px;
        }
        input {
          width: 80px;
        }
        .wide {
          width: 200px
        }
      }
    }
    .controls > * {
      padding-left: 10px;
    }
  }
  .control-bar > * {
    vertical-align: middle;
    padding-left: 10px;
  }
  .main-area {
    position: relative;
    height: calc(100% - #{$topbar-height});
    .main-area-shadow {
      position: absolute;
      height: 100%;
      top: 0;
      box-shadow: $z-1-shadow-inset;
      //z-index: 1;
    }
    .tracks {
      position: relative;
      .background {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
      }
      .fixed {
        z-index: 1;
        .channel-container:first-child .channel-stack .channel-data {
          //Shadow of position control-bar
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.24);
        }
        .channel-container:last-child {
          //Shadow of fixed tracks
          box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.24);
          border-bottom: none;
        }
        .channel-stack .channel-data {
          //Shadow of side onto data
          box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.24);
        }
      }
      .scrolling {
        overflow-y: scroll;
        .channel-container:last-child .channel-side {
          //Shadow of las side controls
          box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.24);
        }
        .channel-stack .channel-data {
          //Shadow of side onto data
          box-shadow: inset 3px 0 4px -2px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }
}
.config-container {
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.24);
}
.legend-container {
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.24);
}
.channel-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid $light-primary-color;

  .channel-side {
    position: relative;
    overflow: hidden;
    background-color: white;
    .close {
      color: $red;
      padding-right: 6px;
    }
    .icon {
      opacity: 0.6;
    }
    .icon:hover {
      opacity: 1;
    }

    .button {
      width: 25px;
      height: 25px;
      line-height: 19px;
      padding: 3px;
      position: absolute;
      text-align: center;
      right: 0;
      .open {
        color: $primary-color;
      }
    }
    .config {
      top: 0;
    }
    .legend {
      transition: bottom .5s !important;
      bottom: 0;
    }
    .close {
      //top: calc(50% - 15px);
      top: 0;
      left: 0;
    }
    .side-component {
      position: absolute;
      right: 0;
      left: 0;
      text-overflow: ellipsis;
      overflow: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

  }
  .channel-stack {
    position: relative;
    display: flex;
    flex-direction: column;
    .channel-data {
      overflow: hidden;
      canvas {
        display: block;
      }
    }
    .tray-container {
      position: relative;
      //box-shadow: $z-1-shadow;
      transition: height .5s !important;
      background: white;
      height: 0;
      width: 100%;
      overflow: hidden;
      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-right: 16px;
        .legend-element {
          min-height: 26px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 16px;
          .label {
            padding-left: 8px;
          }
        }
      }
      .channel-controls {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .control {
          min-height: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .label {
            padding-left: 10px;
            padding-right: 5px;
          }
          .dropdown {
            top: -4px;
          }
          .slider {
            margin-left: 30px;
            width: 100px;
          }
          .numeric-input {
            width: 80px;
          }
        }
      }
    }
  }
}
div.scale {
  background: white;
}
.tick {
  line {
    stroke: darkgrey;
    stroke-width: 0.25px;
  }
}
.x {
  text {
    text-anchor: middle;
    alignment-baseline: text-before-edge;
  }
}
.y {
  text {
    text-anchor: end;
    alignment-baseline: central;
    font-size: 12px;
  }
}
.major {
  line {
    stroke-width: 0.5px;
  }
}

.sequence {
  position: relative;
  canvas {
    position: absolute;
    //will-change: transform;
    transform-origin: top left;
  }
  .blocky {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
  }

  svg {
    position: absolute;
    text {
      text-anchor: middle;
      alignment-baseline: central;
    }
  }
}

.side-name {
  padding: 5px 35px 5px 30px;
}

.genotypes-table {
  position: relative;
  * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.genotypes-side {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .row-label {
    padding: 10px 35px 5px 10px;

  }
  canvas {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.numerical-channel-canvas-holder {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
