.loading-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  .load-icon {
    opacity: 0.5;
    height: 50%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .spinner {
//    background-image: url(../images/spinner.svg);
    animation: spin 2s infinite linear;
  }
  .error {
    background-image: url(../images/error.svg);
  }
  .error-text {
    font-style: italic;
    padding-top: 15px;
  }
  .custom {
    opacity: 0.8;
    text-align: center;
    font-style: italic;
    pointer-events: auto;
  }
}

.loading-container.show {
  visibility: inherit;
  opacity: 1;
}

.loading-container.hide-content {
  background-color: rgb(255, 255, 255);
}
