@import "./normalize.css";
@import "./bootstrap.css";
@import "./font-awesome.css";
@import "./fixed-data-table.css";
@import "./ui-components.scss";


.main {
  .page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      background: linear-gradient(to right, #000000 0%, #757575 100%);

      .title {
        flex: 1;
        margin: 25px;
        color: white;
        font-weight: bold;
        font-size: large;
      }

      .logo {
        margin: 25px;
      }

      .username {
        margin: 7px;
        color: white;
        font-weight: bold;
      }

      .btn-toolbar {
        .btn {
          font-size: 22px;
          padding: 0px 6px;
        }
        margin: 7px;
      }

    }

    .body {
      flex: 1;
      position:relative;
    }
  }
}