@import "./variables";

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

//We have to use visibility to switch tabs due to a google maps issue, but then mui tries to animate visibility...
//So override that here.
* {
  transition: visibility 0ms linear !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(36, 36, 36);
  font-size: 14px;
}

.main {
  .page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      z-index: 1;
      height: 50px;
      background: white;

      .title {
        flex: 1;
        margin: 25px;
        font-weight: bold;
        font-size: large;
      }

      .logo {
        margin: 25px;
      }

      .username {
        margin: 7px;
        font-weight: bold;
      }
    }

    .body {
      flex: 1;
      position: relative;
    }
  }
}

a {
  color: $primary-color;
}

a:visited {
  color: $light-primary-color;
}

