@import "./variables";

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(36, 36, 36);
  font-size: 14px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  position: relative;
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      z-index: 1;
      height: 50px;
      background: white;

      a {
        color: inherit;
        text-decoration: inherit;
      }

      .title {
        flex: 1;
        margin: 25px;
        font-weight: bold;
        font-size: large;
      }

      .logo {
        margin: 25px;
      }

      .username {
        margin: 7px;
        font-weight: bold;
        .logout {
          padding-left: 5px;
          font-family: sans-serif;
          text-decoration: underline;
          font-style: italic;
          font-weight: 100;
        }
      }
    }

    .body {
      height: calc(100vh - 64px); // - tabs and header
      position: relative;
    }
  }
}

a {
  color: $primary-color;
}

a:visited {
  color: $light-primary-color;
}
