@import "./variables";

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

* {
  //Material ui uses a transition on "all" meaning that visibility becomes animated. We don't want that, so we white-list properties that we are ok with being animated
  transition-property: background-color, background-position, border-bottom-color, border-bottom-width, border-left-color, border-left-width, border-right-color, border-right-width, border-spacing, border-top-color, border-top-width, bottom, clip, color, font-size, font-weight, height, left, letter-spacing, line-height, margin-bottom, margin-left, margin-right, margin-top, max-height, max-width, min-height, min-width, opacity, outline-color, outline-width, padding-bottom, padding-left, padding-right, padding-top, right, text-indent, text-shadow, top, transform, vertical-align, width, word-spacing, z-index !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(36, 36, 36);
  font-size: 14px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  .page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      z-index: 1;
      height: 50px;
      background: white;

      a {
        color: inherit;
        text-decoration: inherit;
      }

      .title {
        flex: 1;
        margin: 25px;
        font-weight: bold;
        font-size: large;
      }

      .logo {
        margin: 25px;
      }

      .username {
        margin: 7px;
        font-weight: bold;
      }
    }

    .body {
      flex: 1;
      position: relative;
    }
  }
}

a {
  color: $primary-color;
}

a:visited {
  color: $light-primary-color;
}

