@import "./variables";

.map-sidebar {
  width: 280px;
}

.map-controls {
  align-items: flex-start;
  .dropdown-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .icon {
      color: $light-text-colour;
      padding-right: 7px;
    }
  }
  .legend {
    // NB: copied from genomebrowser.scss (and tree.scss)
    .legend-element {
      min-height: 26px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 16px;
      .label {
        padding-left: 8px;
      }
    }
  }
}

.map-content {
  height: calc(100% - #{$topbar-height});
}

//Inside the popover menu we are not inside plot-controls
.dropdown-option {
  .icon {
    color: $light-text-colour;
    padding-right: 7px;
  }
}

// NB: .map-controls.legend is on the sidebar, whereas this one is on the map
.map-legend {
  background-color: white;
  opacity: 0.7;
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
}
