@import "./variables";

.plot {
  height: 100%;
  width: 100%;
}

.plot-container {
  height: calc(100% - 40px);
}

.plot-sidebar {
  width: 280px;
}

.plot-controls {
  .dropdown-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .icon {
      color: $light-text-colour;
      padding-right: 7px;
    }
  }
  select {
    margin: 5px;
    width: 150px;
  }
}

//Inside the popover menu we are not inside plot-controls
.dropdown-option {
  .icon {
    color: $light-text-colour;
    padding-right: 7px;
  }
}
