@import "./variables";
.tree-sidebar {
  width: 280px;
}

.tree-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tree {
  width: 100%;
  height: 100%;
  overflow: hidden;
  canvas {
    display: block;
    z-index: inherit !important;
  }
}

.tree-controls {
  align-items: flex-start;
  .dropdown-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .icon {
      color: $light-text-colour;
      padding-right: 7px;
    }
  }
  .legend {
    .legend-element {
      min-height: 26px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 16px;
      .label {
        padding-left: 8px;
      }
    }
  }
}

//Inside the popover menu we are not inside tree-controls
.dropdown-option {
  .icon {
    color: $light-text-colour;
    padding-right: 7px;
  }
}
