@import "./variables";
.tree-sidebar {
  width: 280px;
}

.tree-controls {
  align-items: flex-start;
  .dropdown-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .icon {
      color: $light-text-colour;
      padding-right: 7px;
    }
  }
}

//Inside the popover menu we are not inside tree-controls
.dropdown-option {
  .icon {
    color: $light-text-colour;
    padding-right: 7px;
  }
}
