@import "./variables";

.tabbed-area {
  position: absolute;
  width: 100%;
  height: 100%;
  .tab-content {
    position: relative;
    width: 100%;
    height: calc(100% - #{$topbar-height});
    .tab-pane {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      clear: both;
      //z-index:1; Not sure why this was here
      padding: 10px 5px;
      width: 100%;
      height: 100%;
    }
    .tab-pane.active {
      visibility: visible;
    }
  }
  .tabs {
    display: flex;
    height: $topbar-height;
    background: linear-gradient(to right, #000000 0%, #757575 100%);
    .tab {
      display: flex;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0 7px 0px 7px;
      cursor: pointer;
      top: 1px;
      font-weight: bold;
      opacity: 0.7;
      overflow: hidden;
      white-space: nowrap;
      color: rgb(255, 255, 255);
      background: $primary-color;
      .title {
        flex: 1;
        vertical-align: middle;
        line-height: $topbar-height;
      }
    }
    .tab.active {
      top: 0;
      //color: rgb(0, 0, 0);
      opacity: inherit;
    }
    .tab.inactive:hover {
      opacity: 0.9;
    }
    .tab.inactive .action {
      display: none;
    }
  }

}

.icon {
  position: relative;
  vertical-align: middle;
  font-size: 22px;
  margin: 5px;
  color: white;
}

.icon.close {
  opacity: .3;
}


.popups {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  //z-index: 10;
  .popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid rgb(110, 110, 110);
    box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25);
    background: white;
    z-index: 2;

    .popup-drag {
      position: absolute;
      height: $topbar-height;
      width: calc(100% - 30px);
      top: 0;
      left: 0;
      cursor: move;
      z-index: 3;
    }

    .popup-header {
      overflow: hidden;
      white-space: nowrap;
      height: $topbar-height;
      //padding: 7px 7px 7px 12px;
      cursor: move;
      font-size: 10pt;
      font-weight: bold;
      color: rgb(255, 255, 255);
      //background: $primary-color;
      background: linear-gradient(to right, #000000 0%, #757575 100%);display: flex;
      //MD like shadow needs relative and z-index
      box-shadow: $z-1-shadow;
      position: relative;
      z-index: 3;

      .title {
        flex: 1;
        vertical-align: middle;
        line-height: $topbar-height;
      }
    }

    .popup-body {
      position: relative;
      flex: 1;
    }

  }
}

.modal {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  background: rgba(0, 0, 0, 0.7);
  .popup {
    position: static;
  }
}

.modal.visible {
  display: flex;
}

//@import "../../node_modules/react-resizable/css/styles.css";
//Had to inline as npm dir not accesible on build.
.react-resizable {
  position: relative;
}

.react-resizable-handle.react-draggable {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  /* Since this handle is absolutely positioned, we don't want the
     draggable transforms to actually move it */
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  z-index:99;
}


.loading-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  visibility: hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  div {
    opacity: 0.5;
    height: 50%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .spinner {
    background-image: url(../images/panoptes-logo.png);
    animation: fa-spin 2s infinite linear;
  }
  .error {
    background-image: url(../images/error.svg);
  }

}

.loading-container.show {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

.top-bar {
  height: $topbar-height;
  background: $primary-color;
  box-shadow: $z-1-shadow;
  position: relative;
  z-index: 2;

  .btn {
    border: none;
    background: transparent;
    color: white;
  }
}

.datatable {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  position: relative;
}

.sidebar {
  width: 248px;
  padding: 12px 9px;
}

.sidebar-header {
  line-height: normal;
  .icon-holder {
    border-radius: 9px;
    border: 2px solid rgb(99, 201, 205);
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: $light-primary-color;
    .icon {
      font-size: 30px;
      color: $primary-color;
    }
  }
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  div.grow {
    flex: 1;
  }
}

.pointer {
  cursor: pointer;
}
