$card-max-width: 650px;
$text-side-padding: 16px;
$usual-text-size: 14px;

.obs-page-backdrop {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  filter: blur(2px);
  height: 330px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.obs-page-container {
  position: relative;
  min-height: 100%;
  div.paragraph, p {
    font-size: $usual-text-size;
    margin-bottom: $usual-text-size;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.obs-page-content {
  font-family: Roboto, Cochin, Georgia, serif;
  height: 100%;
  position: relative;
  z-index: 100;
}

.plot-container {
  position: relative;
}

.card-stack {
  max-width: $card-max-width;
}

.obs-leader {
  max-width: 80%;
  font-size: 25px;
  padding: 25px;
  text-align: center;
  background: rgba(255,255,255,0.6);
  margin-bottom: 20px;
}

.obs-highlight {
  color: rgb(230, 74, 25);
}

.card-stack > div {
  margin-bottom: 15px;
}

.obs-breadcrumb {
  background: rgba(255,255,255,0.6);
  margin-bottom: 15px;
  max-width: $card-max-width;
  width: 100%;
  position: relative;
  .obs-breadcrumb-inner {
    width: 100%;
    padding-left: $text-side-padding;
    padding-right: $text-side-padding;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    align-items: center;
    .obs-breadcrumb-component {
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}




li {
  padding-bottom: 5px;
}
