
###########################################################################################################
# Configuration parameters for connecting to the MySQL database
###########################################################################################################

# MYSQL Hostname
DBSRV = 'localhost'

# MYSQL User
DBUSER = 'root'

# MYSQL Pass
#todo: for production server data that also includes confidential information, this should be moved to a safer place outside the source code.
DBPASS = '1234'

# Name to use for the central panoptes MYSQL DB
DB='datasetindex'

###########################################################################################################
# Server side file locations
#########################################################################################################
# Directory where disk-held data will be stored by panoptes - created if not existing
BASEDIR = 'basedir_path'

#Dir which is scanned for data to import  - created if not existing
#If this is empty, examples datasets will be copied to it
SOURCEDATADIR = 'sourcedir_path'

