
a:link, a:visited, .DQXHyperlink, .DQXQueryTableLinkCell, .DQXQueryTableLinkHeader, .DQXQueryTableSortHeader
{
    color:rgb(0,107,117) !important;
}

.PanoptesLogoBox
{
    opacity:0.7;
    cursor:pointer;
}

.PanoptesLogoBox:hover
{
    opacity:1.0;
}

.DQXSelectWrapper
{
/*    border:1px solid rgb(190,190,190);*/
    border: none;
    padding-left:2px;
    padding-right:2px;
    border-left:1px solid rgb(190,190,190);
    border-right:1px solid rgb(190,190,190);
}

.DQXTitleBar
{
    color:rgb(255,255,255);
    font-size:18px;
    font-variant:small-caps;
    line-height:28px;
    background-color: rgb(47, 137, 146);
    /*background-image:url(Bitmaps/TitleBarBack.png);*/
    background-image: none;
    background-repeat:repeat-x;
}


.DQXWizardBoxHeader
{
    background-color: rgb(36, 105, 112);
    height:22px;
    padding:6px;
    color:rgb(255,255,255);
    font-size:11pt;
    font-weight:bold;
    background-image:url(Bitmaps/misc/barback1a.png);
    /*background-image:none*/
}


.DQXPopupFrameHeader
{
    background-color: rgb(36, 105, 112);
    padding:7px;
    padding-left:12px;
    cursor:move;
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,255,255);
    background-image:url(Bitmaps/misc/barback1a.png);
    /*width:50px;*/
    /*background-image:none*/
}



.DQXFloatBox
{
    border-color:rgb(4,81,88);
}

.DQXFloatBoxHeader
{
    color:rgb(255,255,255);
    background-image:url(Bitmaps/misc/barback1a.png);
}


.DQXFloatBoxContent
{
    background: rgb(218,240,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(218,240,242) 0%, rgb(192,224,226) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(218,240,242)), color-stop(100%,rgb(192,224,226))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf0f2', endColorstr='#c0e0e2',GradientType=0 ); /* IE6-9 */
}



.DQXLargeListItemSelected
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
    background: rgb(140,195,200);
    /*background: rgb(223,175,30);*/
    /*background: rgb(196,208,252); *//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(200,215,255,1) 0%, rgba(164,181,234,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,215,255,1)), color-stop(100%,rgba(164,181,234,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); *//* IE6-9 */

    /*font-size:8pt;*/
    cursor:pointer;

}



.DQXPopupFrameResizer1, .DQXPopupFrameResizer2
{
    background-color:rgb(0,133,146);
}




.DQXToolButton2, .PnButtonLarge, .PnButtonSmall, .DQXToolButton3, .PnButtonGrid
{
/*
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #c7e4e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c7e4e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#c7e4e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#c7e4e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#c7e4e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#c7e4e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7e4e5',GradientType=0 );
*/

    background: rgb(244,244,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(244,244,244) 0%, rgb(224,224,224) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(244,244,244)), color-stop(100%,rgb(224,224,224))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(244,244,244) 0%,rgb(224,224,224) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(244,244,244) 0%,rgb(224,224,224) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(244,244,244) 0%,rgb(224,224,224) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(244,244,244) 0%,rgb(224,224,224) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

    border: 1px solid rgb(170, 170, 170);

    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

}


.PnButtonLarge
{
    cursor:pointer;
    /*border-left:1px solid rgb(150,150,150);*/
    /*border-top:1px solid rgb(150,150,150);*/
    /*border-right:1px solid rgb(120,120,120);*/
    /*border-bottom:1px solid rgb(120,120,120);*/
    /*box-shadow: 2px 2px 6px rgba(0,0,0,0.35);*/
    padding-top:3px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 3px;
}




.DQXToolButton0:hover, .DQXToolButton1:hover, .DQXToolButton2:hover, .DQXToolButton3:hover, .PnButtonLarge:hover, .PnButtonSmall:hover
{
    /*border:2px solid rgb(0,0,0);*/
    box-shadow: 2px 2px 11px rgba(0,0,0,0.85);
}


.DQXToolButton0 img, .DQXToolButton1 img, .DQXToolButton2 img, .DQXToolButton3 img, .PnButtonLarge img, .PnButtonSmall img, .PnButtonGrid img
{
    opacity:0.7;
}

.DQXToolButton0:hover img, .DQXToolButton1:hover img, .DQXToolButton2:hover img, .DQXToolButton3:hover img, .PnButtonLarge:hover img, .PnButtonSmall:hover img, .PnButtonGrid:hover img
{
    opacity:1;
}


.PnButtonSmall
{
    border-radius: 4px;
    /*border:1px solid rgb(128,128,128);*/
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    /*box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30);*/
    cursor:pointer;

}

.PnButtonGrid
{
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    cursor:pointer;
    box-shadow: none;
}


.PnButtonGrid:hover
{
    color: rgb(0,94,102);
    border: 1px solid rgb(0,122,132);
}

.PnGridCheckWrapper
{
    padding:7px;
}

.GenomeBrowserControlBackground
{
    color:Black;
    background-color: rgb(255,255,255);
    border-width:0px;
}



.AdminTreeNonClickable
{
    color:rgb(110,110,110);
    font-style: italic;
}

.AdminTreeRoot
{
    font-size:14pt;
    font-weight:bold;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeDataSet
{
    font-size:14pt;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeSection
{
    font-size:11pt;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:4px;
    padding-bottom:4px;
}

.AdminTreeNormal
{
    font-size:11pt;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
}


.QueryTab10eValueBar
{
    height:15px;
    background-color: rgb(140,230,255);
    border-spacing: 20px;
    border-collapse: collapse;
    cursor: pointer;
}

.PlotTypeTable
{
}

.PlotTypeTable tr
{
    cursor: pointer;
}

.PlotTypeTable tr:hover
{
    background-color: white;
    outline: 1px solid rgb(0,188,205);
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95);
}



.DQXControlSectionHeader {
    background-color: rgb(206,234,237);
    font-weight: bold;
    border: none;
    padding:7px;
    padding-top:5px;
    padding-bottom:5px;
    border-top:1px solid rgb(169,211,215);
    border-bottom:1px solid rgb(169,211,215);
    color: rgb(61,104,108);
}


.DQXControlSectionSubHeader {
    /*background-color: rgb(206,234,237);*/
    font-weight: bold;
    border: none;
    padding:7px;
    padding-top:5px;
    padding-bottom:5px;
    /*border-top:1px solid rgb(169,211,215);*/
    border-bottom:1px solid rgb(169,211,215);
    color: rgb(61,104,108);
}


.DQXControlSectionHeader, .GenomeBrowserMainSectionHeader, .DQXControlSectionSubHeader {
    opacity: 0.8;
}

.DQXControlSectionHeader:hover, .GenomeBrowserMainSectionHeader:hover, .DQXControlSectionSubHeader:hover {
    opacity: 1;
}

.ControlsSectionBody {
    margin-left:9px;
    margin-top:20px;
    margin-right:4px;
    margin-bottom:20px;
}

.ControlsSectionBodySubSection {
    margin-left:9px;
    margin-top:13px;
    margin-right:4px;
    margin-bottom:13px;
}

.ControlsSectionBodyNoMargin {
    margin-top:10px;
    margin-bottom:10px;
}

.ControlsSectionBodyIntro {
    margin-left:15px;
    margin-top:20px;
    margin-right:15px;
    margin-bottom:20px;
    min-height: 75px;
}

.GenomeBrowserMainSectionHeader {
    background-color: rgb(140,195,200);
    font-size: 11pt;
    font-weight: bold;
    padding:7px;
    padding-top:7px;
    padding-bottom:7px;
    border: none;
    border-top:1px solid rgb(112,169,174);
    border-bottom:1px solid rgb(112,169,174);
    color: rgb(0,55,60);

    /*font-size: 12pt;*/
    /*font-weight: bold;*/
    /*background-color: rgb(47, 137, 146);*/
    /*color: white;*/
    /*padding:5px;*/
    /*border:none*/
}

.IntroPanelInfo {
    padding:20px;
}

.IntroViewSection {
    padding-top:9px;
    padding-bottom:12px
}

.IntroViewItem {
    padding: 12px;
    cursor: pointer;
}

.IntroViewItemImage {
    opacity:0.5;
    float:left;
    margin-right:8px;
    margin-bottom:5px;
    margin-top:2px
}

.IntroViewItem:hover .IntroViewItemImage {
    opacity: 1
}


.IntroViewItemDelete, .IntroViewItemEdit {
    opacity:0.0;
    float:right;
    margin-left:8px;
    margin-bottom:5px;
    margin-top:2px
}

.IntroViewItem:hover .IntroViewItemDelete, .IntroViewItem:hover .IntroViewItemEdit {
    opacity: 1
}


.PnTitleBox
{
    font-weight: bold;
    color:rgb(0,120,140);
    margin-left:6px;
    padding-top:3px;
}

.DQXThumbNail
{
    font-size: 9px;
    opacity:0.5;
    display: inline-block;
    width:80px;
    height:18px;
    color: rgb(0,94,102);
    background: rgb(182,230,235); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(182,230,235) 0%, rgb(123,181,186) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(182,230,235)), color-stop(100%,rgb(123,181,186))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* IE10+ */
    background: linear-gradient(to right, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceeaed', endColorstr='#8cc3c8',GradientType=1 ); /* IE6-9 */    border: 2px solid black;
    padding:5px;
    padding-top:1px;
    padding-bottom:3px;
    border: 1px solid rgb(140,195,200);

    border-radius: 4px;
    margin-top:4px;
    margin-left:6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.45);
}

.DQXThumbNailMinimised
{
    opacity:1 !important;
}


.DQXThumbNail img {
    opacity: 0;
}
.DQXThumbNail:hover img {
    opacity: 0.35;
}
.DQXThumbNail img:hover {
    opacity: 1.0;
}

.DQXThumbNail:hover {
    color: rgb(0,0,0);
    border: 1px solid rgb(0,122,132);
}


.DQXForm
{
    background-color:white;
    color:rgb(0,0,0);
}

.QueryTableValueBar
{
    background-color: rgb(140,220,230);
    height:14px;
}
