
a:link, a:visited, .DQXHyperlink, .DQXQueryTableLinkCell, .DQXQueryTableLinkHeader, .DQXQueryTableSortHeader
{
    color:rgb(0,107,117) !important;
}

.DQXTitleBar
{
    color:rgb(255,255,255);
    font-size:18px;
    font-variant:small-caps;
    line-height:28px;
    background-color: rgb(47, 137, 146);
    /*background-image:url(Bitmaps/TitleBarBack.png);*/
    background-image: none;
    background-repeat:repeat-x;
}


.DQXWizardBoxHeader
{
    background-color: rgb(36, 105, 112);
    height:22px;
    padding:6px;
    color:rgb(255,255,255);
    font-size:11pt;
    font-weight:bold;
    background-image:url(Bitmaps/misc/barback1a.png);
    /*background-image:none*/
}


.DQXPopupFrameHeader
{
    background-color: rgb(36, 105, 112);
    padding:7px;
    padding-left:12px;
    cursor:move;
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,255,255);
    background-image:url(Bitmaps/misc/barback1a.png);
    /*background-image:none*/
}




.DQXLargeListItemSelected
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
    background: rgb(140,195,200);
    /*background: rgb(223,175,30);*/
    /*background: rgb(196,208,252); *//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(200,215,255,1) 0%, rgba(164,181,234,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,215,255,1)), color-stop(100%,rgba(164,181,234,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(200,215,255,1) 0%,rgba(164,181,234,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); *//* IE6-9 */

    /*font-size:8pt;*/
    cursor:pointer;

}



.DQXPopupFrameResizer1, .DQXPopupFrameResizer2
{
    background-color:rgb(0,133,146);
}




.DQXToolButton2, .PnButtonLarge, .PnButtonSmall, .DQXToolButton3
{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #c7e4e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c7e4e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#c7e4e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#c7e4e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#c7e4e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#c7e4e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7e4e5',GradientType=0 ); /* IE6-9 */

    border: 1px solid rgb(180, 180, 180);

    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);

}


.PnButtonLarge
{
    cursor:pointer;
    /*border-left:1px solid rgb(150,150,150);*/
    /*border-top:1px solid rgb(150,150,150);*/
    /*border-right:1px solid rgb(120,120,120);*/
    /*border-bottom:1px solid rgb(120,120,120);*/
    /*box-shadow: 2px 2px 6px rgba(0,0,0,0.35);*/
    padding-top:3px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 3px;
}


.DQXToolButton0:hover, .DQXToolButton1:hover, .DQXToolButton2:hover, .DQXToolButton3:hover, .PnButtonLarge:hover, .PnButtonSmall:hover
{
    /*border:2px solid rgb(0,0,0);*/
    box-shadow: 2px 2px 11px rgba(0,0,0,0.85);
}




.PnButtonSmall
{
    border-radius: 4px;
    /*border:1px solid rgb(128,128,128);*/
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    /*box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30);*/
    cursor:pointer;

}



.GenomeBrowserControlBackground
{
    color:Black;
    background-color: rgb(255,255,255);
    border-width:0px;
}



.AdminTreeNonClickable
{
    color:rgb(110,110,110);
    font-style: italic;
}

.AdminTreeRoot
{
    font-size:14pt;
    font-weight:bold;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeDataSet
{
    font-size:14pt;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeSection
{
    font-size:11pt;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:4px;
    padding-bottom:4px;
}

.AdminTreeNormal
{
    font-size:11pt;
    font-weight:bold;
    padding-top:4px;
   padding-bottom:4px;
}


.QueryTableValueBar
{
    height:15px;
    background-color: rgb(140,230,255);
    border-spacing: 20px;
    border-collapse: collapse;
    cursor: pointer;
}

.PlotTypeTable
{
}

.PlotTypeTable tr
{
    cursor: pointer;
}

.PlotTypeTable tr:hover
{
    background-color: white;
    outline: 1px solid rgb(0,188,205);
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95);
}



.DQXControlSectionHeader {
    background-color: rgb(206,234,237);
    font-weight: bold;
    border: none;
    padding:7px;
    padding-top:5px;
    padding-bottom:5px;
    border-top:1px solid rgb(169,211,215);
    border-bottom:1px solid rgb(169,211,215);
    color: rgb(61,104,108);
}

.ControlsSectionBody {
    margin-left:9px;
    margin-top:20px;
    margin-right:4px;
    margin-bottom:20px;
}


.GenomeBrowserMainSectionHeader {
    background-color: rgb(140,195,200);
    font-size: 11pt;
    font-weight: bold;
    padding:7px;
    padding-top:7px;
    padding-bottom:7px;
    border: none;
    border-top:1px solid rgb(112,169,174);
    border-bottom:1px solid rgb(112,169,174);
    color: rgb(0,55,60);
    /*font-size: 12pt;*/
    /*font-weight: bold;*/
    /*background-color: rgb(47, 137, 146);*/
    /*color: white;*/
    /*padding:5px;*/
    /*border:none*/
}
