
/*http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
cursor:pointer;
}

input[type="checkbox"] + label:before {
    display:inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*width:19px;*/
    /*height:19px;*/
    margin:-1px 6px 0 0;
    /*vertical-align:middle;*/
    content: "\f096";
    cursor:pointer;
    color:rgb(128,128,128);
}

input[type="checkbox"]:checked + label:before {
    margin:-1px 4px 0 0;
    content: "\f046";
}

.DQXSelectWrapper
{
    border: none;
    padding-left:2px;
    padding-right:2px;
    border-left:1px solid rgb(190,190,190);
    border-right:1px solid rgb(190,190,190);
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        margin: 0;
        display: inline-block;
        -webkit-appearance:none;
        appearance:none;
        cursor:pointer;
        background: #ffffff;
        border: none;
        padding-right:18px;
        box-shadow: none;
    }
    div.DQXSelectWrapper {
        position:relative;
        /*border: none;*/
        padding: 2px;
        padding-left: 3px;
        border-radius: 3px;
        background-color: white;
        border: 1px solid rgb(200,200,200);
    }
    div.DQXSelectWrapper:after {
        background: transparent;
        content: "\f0d7";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size:17px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: gray;
        right:6px; top:1px;
        position:absolute;
        pointer-events:none;
    }
}


.DQXQBQuerybox div.DQXSelectWrapper {
    background-color: transparent;
    border:none;
}



a:link, a:visited, .DQXHyperlink, .DQXQueryTableLinkCell, .DQXQueryTableLinkHeader, .DQXQueryTableSortHeader, .doclink
{
    color:rgb(0,107,117) !important;
    /*border-bottom: 1px solid rgb(130,200,210);*/
}

.doclink
{
    cursor: pointer;
}

a:link, a:visited
{
    text-decoration: underline;
}

.PanoptesLogoBox
{
    opacity:0.9;
    cursor:pointer;
}

.PanoptesLogoBox:hover
{
    opacity:1.0;
}


.DQXTitleBar
{
    color:rgb(255,255,255);
    font-size:18px;
    font-variant:small-caps;
    line-height:28px;
    background-color: rgb(47, 137, 146);
    /*background-image:url(Bitmaps/TitleBarBack.png);*/
    background-image: none;
    background-repeat:repeat-x;
}

.DQXWizardBox
{
    border:1px solid rgb(110,110,110);
    border:none;
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95);

}

.DQXWizardBoxHeader
{
    height:22px;
    padding:6px;
    color:rgb(255,255,255);
    font-size:11pt;
    font-weight:bold;
    background-color: rgb(56, 135, 142);
    background-image:none;
}


.DQXPopupFrameHeader
{
    padding:7px;
    padding-left:12px;
    cursor:move;
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,255,255);
    background-color: rgb(56, 135, 142);
    background-image:none;

    background: rgb(63,151,158); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(63,151,158) 0%, rgb(56,135,142) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(63,151,158)), color-stop(100%,rgb(56,135,142))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(63,151,158) 0%,rgb(56,135,142) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(63,151,158) 0%,rgb(56,135,142) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(63,151,158) 0%,rgb(56,135,142) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(63,151,158) 0%,rgb(56,135,142) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f979e', endColorstr='#38878e',GradientType=0 ); /* IE6-9 */
    /*width:50px;*/
    /*background-image:none*/
}

.DQXPopupFrame
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(110,110,110);
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.75);
}



.DQXFloatBox
{
    border:1px solid rgb(110, 110, 110);
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95);
}

.DQXFloatBoxHeader
{
    color:rgb(255,255,255);
    background-color: rgb(0,133,146);
    background-image:none;
}


.DQXFloatBoxContent
{
    background: rgb(218,240,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(218,240,242) 0%, rgb(192,224,226) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(218,240,242)), color-stop(100%,rgb(192,224,226))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(218,240,242) 0%,rgb(192,224,226) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf0f2', endColorstr='#c0e0e2',GradientType=0 ); /* IE6-9 */
}

.DQXFloatBoxContent2
{
    background:rgb(230,250,252);
    border: 1px solid rgb(170,170,170);
}

.DQXLargeList
{
    background-color: rgb(248, 248, 248);
}


.DQXLargeListItem
{
    padding:7px;
    padding-bottom:10px;
}

.DQXLargeListItemSelected
{
    color:Black;
    padding:7px;
    padding-bottom:10px;


    background: #9fdae0; /* Old browsers */
    background: -moz-linear-gradient(top,  #9fdae0 0%, #90c7cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fdae0), color-stop(100%,#90c7cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9fdae0 0%,#90c7cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdae0', endColorstr='#90c7cc',GradientType=0 ); /* IE6-9 */



    /*font-size:8pt;*/
    cursor:pointer;

}

.DQXPopupFrameResizer1
{
    right:-12px;
    bottom:-12px;
    width:24px;
    height:5px;
}


.DQXPopupFrameResizer2
{
    right:-12px;
    bottom:-12px;
    width:5px;
    height:24px;
}


.DQXPopupFrameResizer1, .DQXPopupFrameResizer2
{
    background-color:rgb(0,133,146);
    border-color:rgb(0,81,88);
}


.DQXToolButton2, .PnButtonLarge, .PnButtonSmall, .DQXToolButton3, .PnButtonGrid, .DQXWizardButton, .PnButtonHelp
{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

 .PnButtonHelp
{
    border: 1px solid rgb(0, 200, 0) !important;
}


.PnButtonLarge
{
    cursor:pointer;
    /*border-left:1px solid rgb(150,150,150);*/
    /*border-top:1px solid rgb(150,150,150);*/
    /*border-right:1px solid rgb(120,120,120);*/
    /*border-bottom:1px solid rgb(120,120,120);*/
    /*box-shadow: 2px 2px 6px rgba(0,0,0,0.35);*/
    padding-top:3px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 3px;
}


.DQXWizardButton {
    border-radius: 2px;
}

.DQXToolButton0:hover, .DQXToolButton1:hover, .DQXToolButton2:hover, .DQXToolButton3:hover, .PnButtonLarge:hover, .PnButtonSmall:hover
{
    /*border:2px solid rgb(0,0,0);*/
    box-shadow: 2px 2px 11px rgba(0,0,0,0.85);
}


.DQXToolButton0 img, .DQXToolButton1 img, .DQXToolButton2 img, .DQXToolButton3 img, .PnButtonLarge img, .PnButtonSmall img, .PnButtonGrid img, .PnButtonHelp img
{
    opacity:0.6;
}

.DQXToolButton0:hover img, .DQXToolButton1:hover img, .DQXToolButton2:hover img, .DQXToolButton3:hover img, .PnButtonLarge:hover img, .PnButtonSmall:hover img, .PnButtonGrid:hover img, .PnButtonHelp:hover img
{
    opacity:1;
}

.DQXToolButton0 .buttonicon, .DQXToolButton1 .buttonicon, .DQXToolButton2 .buttonicon, .DQXToolButton3 .buttonicon, .PnButtonLarge .buttonicon, .PnButtonSmall .buttonicon, .PnButtonGrid .buttonicon, .PnButtonHelp .buttonicon
{
    color:rgb(130,130,130);
}

.DQXToolButton0:hover .buttonicon, .DQXToolButton1:hover .buttonicon, .DQXToolButton2:hover .buttonicon, .DQXToolButton3:hover .buttonicon, .PnButtonLarge:hover .buttonicon, .PnButtonSmall:hover .buttonicon, .PnButtonGrid:hover .buttonicon, .PnButtonHelp .buttonicon
{
    color:rgb(0,0,0);
}

.DQXButtonBar
{
    color:rgb(150,150,150);
}

.DQXButtonBarButton:hover
{
    background-color:inherit;
    color: black;
}


.PnButtonSmall
{
    border-radius: 4px;
    /*border:1px solid rgb(128,128,128);*/
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    /*box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30);*/
    cursor:pointer;

}

.PnButtonGrid, .DQXToolButton1, .DQXToolButton3, .DQXToolButton2, .PnButtonHelp
{
    margin: 0px;
    font-size:11px;
    color: rgb(70,70,70);
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    cursor:pointer;
    box-shadow: none;
    border-radius: 0px;
    margin-left: -1px;
    margin-top: -1px;
    border:1px solid rgb(200,200,200);
}


.PnButtonGrid:hover, .DQXToolButton1:hover, .DQXToolButton3:hover, .DQXToolButton2:hover, .PnButtonHelp:hover
{
    color: rgb(0,94,102);
    box-shadow:none;
    /*border:none;*/

    background: rgb(245,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(245,255,255) 0%, rgb(200,225,225) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(245,255,255)), color-stop(100%,rgb(200,225,225))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(245,255,255) 0%,rgb(200,225,225) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(245,255,255) 0%,rgb(200,225,225) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(245,255,255) 0%,rgb(200,225,225) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(245,255,255) 0%,rgb(200,225,225) 100%); /* W3C */
    
    /*outline: 1px solid rgb(0,122,132);*/
}

.PnGenotypesPageBox{
    background-color: rgba(230,230,230,0.6);
    border-radius: 14px;
}

label.PnGenotypesPageEdit{
    /*border-radius: 4px;*/
    /*border:1px solid rgb(128,128,128);*/
    /*background-color: rgba(255,255,255,0.75);*/
    /*vertical-align: middle;*/
    /*padding: 2px;*/
    /*margin: 0px;*/
}
input.PnGenotypesPageEdit{
    /*border-radius: 3px;*/
    border:1px solid rgb(170,170,170);
    background-color: rgba(255,255,255,0.75);
    vertical-align: middle;
    margin: 0px;
    text-align: center;
}

.PnGenotypesPageArrow{
    border-radius: 14px;
    border:1px solid rgb(150,150,150);
    display:inline-block;
    /*margin-left:5px;*/
    /*margin-right:5px;*/
    padding:8px;
    height:17px;
    /*box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30);*/
    cursor:pointer;
    font-weight:bold;
    vertical-align: middle;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.PnGenotypesPageArrow:hover
{
    /*background-color:rgb(255,255,240);*/
    border:1px solid rgb(128,128,128);
    box-shadow: 1.5px 1.5px 6px rgba(0,0,0,0.50);
    background: #f3f9ac; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f9ac 0%, #ffe36b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f9ac), color-stop(100%,#ffe36b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f9ac 0%,#ffe36b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9ac', endColorstr='#ffe36b',GradientType=0 ); /* IE6-9 */
}

.PnGenotypesPageArrow .buttonicon
{
    color:rgb(90,90,90);
}

.PnGenotypesPageArrow:hover .buttonicon
{
    color:rgb(0,0,0);
}



.GenomeBrowserControlBackground
{
    color:Black;
    background-color: rgb(255,255,255);
    border-width:0px;
}



.AdminTreeNonClickable
{
    color:rgb(110,110,110);
    font-style: italic;
}

.AdminTreeRoot
{
    font-size:14pt;
    font-weight:bold;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeDataSet
{
    font-size:14pt;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:5px;
}

.AdminTreeSection
{
    font-size:11pt;
    color:rgb(110,110,110);
    font-style: italic;
    padding-top:4px;
    padding-bottom:4px;
}

.AdminTreeNormal
{
    font-size:11pt;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
}


.DQXQueryTable th
{
    background: rgb(244,244,244); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(244,244,244) 0%, rgb(216,216,216) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(244,244,244)), color-stop(100%,rgb(216,216,216))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgb(244,244,244) 0%,rgb(216,216,216) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgb(244,244,244) 0%,rgb(216,216,216) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgb(244,244,244) 0%,rgb(216,216,216) 100%); /* IE10+ */
    background: linear-gradient(to right, rgb(244,244,244) 0%,rgb(216,216,216) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200,200,200);

    color:rgb(0,0,0);
    text-align: left;
    height:28px;
    font-size:8pt;
    font-weight:normal;
    /*    width: 180px !important; */
    white-space:nowrap;
    padding: 4px;


}


/*.QueryTableValueBar*/
/*{*/
    /*height:15px;*/
    /*background-color: rgb(140,230,255);*/
    /*border-spacing: 20px;*/
    /*border-collapse: collapse;*/
    /*cursor: pointer;*/
/*}*/

.PlotTypeTable
{
}

.PlotTypeTable tr
{
    cursor: pointer;
}

.PlotTypeTable tr:hover
{
    background-color: white;
    /*outline: 1px solid rgb(0,188,205);*/
    /*box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95);*/
}



.DQXControlSectionHeader {
    background-color: rgba(206,234,237,0.5);
    font-weight: bold;
    border: none;
    padding:7px;
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid rgb(206,234,237);
    border-bottom:1px solid rgb(206,234,237);
    /*border-bottom:1px solid rgb(195,229,232);*/
    color: rgb(61,104,108);
}


.DQXControlSectionSubHeader {
    /*background-color: rgb(206,234,237);*/
    font-weight: bold;
    border: none;
    padding:7px;
    padding-top:5px;
    padding-bottom:5px;
    /*border-top:1px solid rgb(169,211,215);*/
    border-bottom:1px solid rgb(169,211,215);
    color: rgb(61,104,108);
}


.DQXControlSectionHeader, .GenomeBrowserMainSectionHeader, .DQXControlSectionSubHeader {
    opacity: 0.8;
}

.DQXControlSectionHeader:hover, .GenomeBrowserMainSectionHeader:hover, .DQXControlSectionSubHeader:hover {
    opacity: 1;
}

.ControlsSectionBody {
    margin-left:9px;
    margin-top:12px;
    margin-right:9px;
    margin-bottom:20px;
}

.ControlsSectionBodySubSection {
    margin-left:9px;
    margin-top:13px;
    margin-right:4px;
    margin-bottom:13px;
}

.ControlsSectionBodyNoMargin {
    margin-top:10px;
    margin-bottom:10px;
}

.ControlsSectionBodyIntro {
    margin-left:20px;
    margin-top:0px;
    margin-right:15px;
    margin-bottom:20px;
    min-height: 75px;
}

.IntroButtonsSectionHeader {
    font-size: 11pt;
    font-weight: bold;
    padding:7px;
    padding-left:20px;
    color: rgb(0, 102, 109);
    /*border-top: 2px solid rgb(240, 240, 240);*/
}

.GenomeBrowserMainSectionHeader {
    /*background-color: rgb(140,195,200);*/
    background-color: rgb(170,215,220);
    font-size: 11pt;
    font-weight: bold;
    padding:7px;
    padding-top:7px;
    padding-bottom:7px;
    border: none;
    /*border-top:1px solid rgb(112,169,174);*/
    /*border-bottom:1px solid rgb(112,169,174);*/
    color: rgb(0,55,60);
    margin-top:-1px;

    /*font-size: 12pt;*/
    /*font-weight: bold;*/
    /*background-color: rgb(47, 137, 146);*/
    /*color: white;*/
    /*padding:5px;*/
    /*border:none*/
}


.IntroTableGroup {
    padding: 15px;
}

.IntroPanelInfo {
    padding:20px;
}

.IntroViewSection {
    padding:20px;
    padding-top:7px;
    padding-bottom: 25px;
}


.IntroViewItem {
    /*padding: 12px;*/
    display: inline-block;
    position:relative;
    cursor: pointer;
}

.IntroViewItemImage {
    opacity:0.75;
    float:left;
    margin-right:8px;
    margin-bottom:5px;
    margin-top:2px
}

.IntroViewItem:hover {
    background-color: rgb(255,240,210);
}

.IntroViewItem:hover .IntroViewItemImage {
    opacity: 1;
}


.IntroViewItemDelete, .IntroViewItemEdit, .IntroViewItemInfo {
    opacity:0.0;
    /*float:right;*/
    position:absolute;
    left: 145px;
    margin-left:8px;
    margin-bottom:5px;
    margin-top:2px
}

.IntroViewItemEdit {
    left: 165px;
}

.IntroViewItemInfo {
    opacity: 0.4;
    left: 160px;
    bottom:0px;
}


.IntroViewItem:hover .IntroViewItemDelete, .IntroViewItem:hover .IntroViewItemEdit, .IntroViewItem:hover .IntroViewItemInfo {
    opacity: 1
}


.DQXThumbNail
{
    font-size: 9px;
    opacity:0.5;
    display: inline-block;
    width:80px;
    height:18px;
    color: rgb(0,94,102);
    background: rgb(182,230,235); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(182,230,235) 0%, rgb(123,181,186) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(182,230,235)), color-stop(100%,rgb(123,181,186))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* IE10+ */
    background: linear-gradient(to right, rgb(182,230,235) 0%,rgb(123,181,186) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceeaed', endColorstr='#8cc3c8',GradientType=1 ); /* IE6-9 */    border: 2px solid black;
    padding:5px;
    padding-top:0px;
    padding-bottom:3px;
    border: 1px solid rgb(140,195,200);
fa-link
    border-radius: 3px;
    margin-top:4px;
    margin-left:6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.DQXThumbNailMinimised
{
    opacity:1 !important;
}


.DQXThumbNail img {
    opacity: 0;
}
.DQXThumbNail:hover img {
    opacity: 0.35;
}
.DQXThumbNail img:hover {
    opacity: 1.0;
}

.DQXThumbNail:hover {
    color: rgb(0,0,0);
    border: 1px solid rgb(0,122,132);
}

.PnClearQuery {
}

.PnClearQuery img{
    opacity: 0.35;
}

.PnClearQuery img:hover {
    opacity: 1;
}



.DQXForm
{
    background-color:white;
    color:rgb(0,0,0);
}

.QueryTableValueBar
{
    background-color: rgb(208, 242, 245);
    height:14px;
}

.SupportingText,.InfoBox
{
    font-size:11px;
    color: rgb(70,70,70);
}

.DescriptionText
{
    color: rgb(90,90,90);
}

.InfoBox
{
    /*color: rgb(100,100,100);*/
    background-color: rgb(230,230,230);
}

.DatasetIcon
{
    width: 45px;
    height: 45px;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    /*vertical-align: middle;*/
    line-height: 45px;
    /*background-color: rgb(220,220,220);*/
    border-radius:9px;

    border:2px solid rgb(99,201,205);
/*    color: rgb(61,104,108);*/
    color: rgb(91,144,148);
    background-color: rgba(206,234,237,0.5);


}

.PnItemTitle
{
    padding: 10px;
    font-size: 20px;
}

.PnItemNote
{
    padding: 9px;
    margin-bottom:-1px;
    border-top: 1px solid rgb(210,210,210);
    border-bottom: 1px solid rgb(210,210,210);
    position: relative;
    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,230,230)));
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e1e1e1',GradientType=0 );
}

.PnItemHeaderText
{
    font-size: 90%;
    color: rgb(91,144,148);
    padding-bottom: 3px;
}


.PnItemNoteDelete {
    opacity:0.4;
    position:absolute;
    right: 4px;
    top: 4px;
    cursor : pointer;
}

.PnItemNote:hover .PnItemNoteDelete {
    opacity: 0.75;
}

.PnItemNoteDelete:hover {
    opacity: 1 !important;
    background-color: rgb(255,255,100);
}



.PnItemNoteSearchResult
{
    padding: 9px;
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:-1px;
    border-top: 1px solid rgb(210,210,210);
    border-bottom: 1px solid rgb(210,210,210);
    position: relative;
    cursor: pointer;
    min-height: 50px;

    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,230,230)));
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(230,230,230) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e1e1e1',GradientType=0 );

}


.PnItemNoteSearchResult:hover
{
    background: #9fdae0; /* Old browsers */
    background: -moz-linear-gradient(top,  #9fdae0 0%, #90c7cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fdae0), color-stop(100%,#90c7cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9fdae0 0%,#90c7cc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9fdae0 0%,#90c7cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdae0', endColorstr='#90c7cc',GradientType=0 ); /* IE6-9 */
}

.PnItemNoteSearchComment
{
    position: absolute;
    bottom: 0px;
}

#PanoptesAppHeader,.DQXTabs,.DQXPopupFrameHeader{
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left, #000000 0%, #757575 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#757575)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #000000 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #000000 0%,#757575 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #000000 0%,#757575 100%); /* IE10+ */
    background: linear-gradient(to right, #000000 0%,#757575 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#757575',GradientType=1 ); /* IE6-9 */
}

#PanoptesAppHeader > * {

    vertical-align: middle;
}

.PnTitleBox {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 21px;
    padding-top: 0px;
    padding-left: 3px;
}

.PanoptesLogoBox {
    margin-left: 3px;
    margin-right: 3px;
    transform:rotate(-90deg) translateX(-51px);
}

.DQXTabs {
    padding-top: 2px;
}

.DQXPopupFrameHeader {
}

.DQXTabInactive:hover {
    top: 0px;
    border-color:rgb(210,210,210);
}

.OrgLogoBox {
    height: 20px;
    padding-top: 17px;
    float:right;
    padding-right: 115px;
}

.PnTopLevelNav {
    text-align: center;
    margin-top: 11px;
    margin-right: 5px;
    background: rgb(200,200,200);
    /*color: rgb(240,240,240);*/
    padding: 4px;
    border-radius: 5px;
}

.DQXTabInactive:hover {
    border-color:rgb(184,184,184);
}

.DQXTabInactive {
    border-color:rgb(184,184,184);
    background-color:rgb(184,184,184);
}
.DQXTabBodyStyled, .DQXTabActive {
    border-color:rgb(255,255,255);
    background-color:rgb(255,255,255);
}

.DQXSplitDiv {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 35%, #0a0e0a 36%, #000000 66%, #000000 66%, #ffffff 67%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(35%,#ffffff), color-stop(36%,#0a0e0a), color-stop(66%,#000000), color-stop(66%,#000000), color-stop(67%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 35%,#0a0e0a 36%,#000000 66%,#000000 66%,#ffffff 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 35%,#0a0e0a 36%,#000000 66%,#000000 66%,#ffffff 67%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 35%,#0a0e0a 36%,#000000 66%,#000000 66%,#ffffff 67%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 35%,#0a0e0a 36%,#000000 66%,#000000 66%,#ffffff 67%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    background-size: 6px 6px;
}

